@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}


:root {
    --background-color:  whitesmoke;
    --project-color: white;
    --text-color: darkslategray;
    --button-color: #101820;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.material-symbols-outlined {
    cursor: pointer;
    user-select: none;
    font-size: 27px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 15vh;
    padding-left:40px;
    font-size: 60px;
    color: var(--text-color);
    font-family: 'Montserrat', cursive;
}

.header {
    display: flex;
    align-items: flex-end;
}

.header-sticker {
    width: 55px;
    height: 55px;
    align-self: center;
}